@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron left float-left shadow p-3 mb-5 bg-white rounded" style="min-height: 600px;width: 300px">
    <h4>Upcoming Events</h4><hr/>
    <div id="upcoming-event" >
        <h4 class="text-center">Birthdays</h4>
        <ul id="upcoming-Birthdays">
            <li>No data</li>
        </ul>
        <h5 class="text-center">Join Anniversary</h5>
        <ul id="upcoming-anniversary">
            <li>No data</li>
        </ul>
    </div>
    <h4>Past Events</h4><hr/>
    <div id="past-event">
        <h4 class="text-center">Birthdays</h4>
        <ul id="past-birthdays" > 
           <li>No data</li>
        </ul>
        <h5 class="text-center">Join Anniversary</h5>
        <ul id="past-anniversary"> 
             <li>No data</li>
        </ul>
    </div>
</div>
<script src="~/Scripts/CustomJs/app.js"></script>